html {
    scroll-behavior: smooth;
}

/* Button hover effect */

.btn-primary {
    transition: all .3s ease-in-out 0s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #0066ff;
    transition: all .3s ease 0s;
    transform: translateY(-3px);
}

/* Button hover effect */

/* text font size styling */

.text-fontsize-large {
    font-size: large;
}

.card-title {
    font-weight: 600;
}

/* text font size styling */

/* navbar styling starts */

ul.navbar-nav {
    margin-left: auto;
}

li.nav-item {
    margin-right: 40px;
}

.navbar-brand, .title-brand {
    font-family: 'Alegreya', serif;
    font-weight: 900;
    letter-spacing: 1.5px;
}

/* navbar styling ends */

/* home area styling starts */

.home-area {
    text-align: center;
    padding-top: 100px;
}

.home-title {
    font-weight: 600;
    margin-bottom: 20px;
}

#home-area-hi-img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.home-body {
    margin-bottom: 25px;
}

.home-specialization {
    margin-top: 15px;
    font-weight: bold;
}

.home-footer .btn1 {
    margin-right: 20px;
}

/* home area styling ends  */

/* About area styling starts */

.about-area {
    text-align: center;
    padding-top: 80px;
}

.about-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.about-subtitle {
    padding: 0 10%;
    text-align: center;
}

/* about-area > skills */

.about-body, .about-body-skills .about-body-skills-body {
    margin-top: 20px;
}

.skillset div {
    margin-top: 20px;
}

.skillset>div:hover {
    color: blue;
}

.skillset div>i {
    font-size: 48px;
    align-items: center;
}

.skillset div>p {
    text-align: center;
}

/* custom grid system to use 5 column layout for large screen*/

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* about-area > skills  */

/* about-area > proficiency  */

.about-body-proficiency {
    margin-top: 20px;
}

.about-body-proficiency-title {
    margin-bottom: 20px;
}

.proficiency-meter {
    text-align: left;
}

/* about-area > proficiency */

/* About area styling Ends */

/* Project area styling starts */

.projects-area {
    padding-top: 70px;
}

.projects-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Project area styling ends */

/* Contact area styling starts */

.contact-area {
    padding-top: 70px;
    padding-bottom: 50px;
}

.contact-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.social-media-icon:hover {
    color: blue;
}

/* Contact area styling ends */

footer {
    background-color: #0066ff;
    color: #ffffff;
}